/build/*
/cmake-build-*
/gtest_result.log
/valgrind_report.log
/valgrind_report.csv
/cpplint_errors.xml
/clang-format_errors.log
/clang-format_errors.xml
/cppcheck_report.txt
/cmake/ocdm-config.cmake
*__pycache__
/.vscode/*
/CMakeUserPresets.json
/CMakeLists.txt.user*
/_codeql_detected_source_root

# These files are fetched by cmake during building rialto for the native platform
/stubs/opencdm/third-party/*
/stubs/rdk_gstreamer_utils/third-party/*
/stubs/wpeframework-core/third-party/*
/stubs/wpeframework-com/third-party/*
