#
# If not stated otherwise in this file or this component's LICENSE file the
# following copyright and licenses apply:
#
# Copyright 2022 Sky UK
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This is the toplevel directory.
set noparent

# Disable c++ header warnings as not applicable to Rialto
filter=-build/c++11

# Disable subdirectories in include files, not relevent for cmake in our repo
filter=-build/include_subdir

# Disable string, we allow for static/global string constants
filter=-runtime/string

# Disable non-const references, allowed in rialto
filter=-runtime/references

# Disable multiline comment check, allowed in rialto
filter=-readability/multiline_comment

# Disable rules that are already enforced by clang-format
filter=-whitespace/indent
filter=-whitespace/comments
filter=-whitespace/line_length
filter=-build/include_order
filter=-whitespace/braces
filter=-whitespace/newline

# Exclude the build and stubs directories
exclude_files=build/*
exclude_files=stubs/*
