#
# If not stated otherwise in this file or this component's LICENSE file the
# following copyright and licenses apply:
#
# Copyright 2023 Sky UK
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This action initalises the host ready for rialto unittests.
name: init_ut

inputs:
  suite:
    description: 'Test suite that is been ran'
    required: true
    type: string

runs:
  using: "composite"

  # Steps represent a sequence of tasks that will be executed as part of the job
  steps:
    # Process the test results
    - name: Check ${{ inputs.suite }} results
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: Results ${{ inputs.suite }}
        path: build/*gtest_result.xml
        reporter: java-junit

    # Upload logs on failure
    - name: Upload logs
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: logs
        path: |
          gtest_result.log
          build/*gtest_result.xml

    # Rename coverage report
    - name: Rename coverage report
      run: |
        mv build/coverage.info build/coverage-${{ inputs.suite }}.info

    # Cache lcov output
    - name: Cache ${{ inputs.suite }} coverage
      id: cache-${{ inputs.suite }}-coverage
      uses: actions/cache@v3
      if: success()
      with:
        path: build/coverage-${{ inputs.suite }}.info
        key: ${{ runner.os }}-${{ inputs.suite }}-coverage-${{ github.run_id }}-${{ github.run_number }}
