#
# If not stated otherwise in this file or this component's LICENSE file the
# following copyright and licenses apply:
#
# Copyright 2022 Sky UK
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This workflow builds and runs the rialto unittests with valgrind to check for memory leaks.
# The workflow shall fail if leaks are detected and the results are summarized in github.
# Logs are uploaded on failure.

name: valgrind_ut

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master", "rdkcentral:master" ]
  pull_request:
    branches: [ "master", "rdkcentral:master" ]
    paths-ignore:
      - 'README.md'
      - 'CPPLINT.cfg'
      - 'CONTRIBUTING.md'
      - 'COPYING'
      - 'LICENSE'
      - 'NOTICE'
      - '.gitignore'
      - '.clang-format'
      - '**/build_ut.yml'
      - '**/cpplint.yml'
      - '**/clang-format.yml'
      - '**/cppcheck.yml'
      - 'docs/**'
      - 'scripts/cpplint/**'
      - 'scripts/clang-format/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This job downloads and caches the protobuf library to speed up execution
  download-protobuf:
    name: Download and Cache Protobuf
    # Runs on ubuntu
    runs-on: ubuntu-latest
    # Timeout after
    timeout-minutes: 90

    # Steps represent a sequence of tasks that will be executed as part of the job
    # Protobuf isnt cached if any steps fail, hence it is isolated in its own job
    steps:
      # Setup github for protobuf 3.7.0
      - name: Cache protobuf library
        id: cache-protobuf-2
        uses: actions/cache@v3
        with:
          path: protobuf
          key: ${{ runner.os }}-protobuf-2
      - name: Build protobuf library
        if: steps.cache-protobuf-2.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/protocolbuffers/protobuf.git protobuf
          cd protobuf
          git checkout v3.7.0
          git submodule update --init --recursive
          ./autogen.sh
          ./autogen.sh
          ./configure
          make
          make check
      - name: Install protobuf library
        timeout-minutes: 2
        run: |
          cd protobuf
          sudo make install
          sudo ldconfig

      # If this job was cancelled by protobuf install, the cache is likely corrupt
      - name: Is Cancelled
        if: cancelled()
        run: |
          echo "If this job was cancelled due to 'Install protobuf library' timeout, the cache is likely corrupt and needs deleting!" >> $GITHUB_STEP_SUMMARY

  # This job downloads and caches valgrind to speed up execution
  # An updated version of valgrind is required, the default version for ubuntu-18.04 is
  # v3.13.0 which does not support F_ADD_SEALS.
  download-valgrind:
    name: Download and Cache Valgrind
    # Runs on ubuntu
    runs-on: ubuntu-latest
    # Timeout after
    timeout-minutes: 10

    # Steps represent a sequence of tasks that will be executed as part of the job
    # Protobuf isnt cached if any steps fail, hence it is isolated in its own job
    steps:
      # Setup github for valgrind 3.19.0
      - name: Cache valgrind library
        id: cache-valgrind
        uses: actions/cache@v3
        with:
          path: valgrind-3.19.0
          key: ${{ runner.os }}-valgrind
      - name: Build valgrind library
        if: steps.cache-valgrind.outputs.cache-hit != 'true'
        run: |
          wget https://sourceware.org/pub/valgrind/valgrind-3.19.0.tar.bz2
          tar xvf valgrind-3.19.0.tar.bz2
          cd valgrind-3.19.0
          ./configure
          make

  # This job sets up the repo with the dependancies then runs the tests with valgrind
  valgrind-test:
    name: Build and test build_ut with valgrind
    # Wait for protobuf and valgrind to be cached first
    needs: [download-protobuf, download-valgrind]
    # Runs on ubuntu
    runs-on: ubuntu-latest
    # Timeout after
    timeout-minutes: 20

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout repo
        uses: actions/checkout@v3

      # Apt update
      - name: Apt update
        run: |
          sudo apt-get update

      # Setup github for python 3.8
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      # Add misc package dependencies
      - name: install dependencies
        run: sudo apt-get install libc6-dbg

      # Setup gstreamer 1.0
      - name: Build gstreamer library
        run: |
          sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-doc gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio

      # Setup valgrind 3.19.0
      # Valgrind should always be cached here
      - name: Cache valgrind library
        id: cache-valgrind
        uses: actions/cache@v3
        with:
          path: valgrind-3.19.0
          key: ${{ runner.os }}-valgrind
      - name: Check cache
        if: steps.cache-valgrind.outputs.cache-hit != 'true'
        run: |
          exit 1
      - name: Install valgrind library
        run: |
          cd valgrind-3.19.0
          sudo make install
          sudo cp /usr/local/bin/valgrind /usr/bin/

      # Setup github for protobuf 3.7.0
      # Protobuf should always be cached here
      - name: Cache protobuf library
        id: cache-protobuf-2
        uses: actions/cache@v3
        with:
          path: protobuf
          key: ${{ runner.os }}-protobuf-2
      - name: Check cache
        if: steps.cache-protobuf-2.outputs.cache-hit != 'true'
        run: |
          exit 1
      - name: Install protobuf library
        timeout-minutes: 2
        run: |
          cd protobuf
          sudo make install
          sudo ldconfig

      # If this job was cancelled by protobuf install, the cache is likely corrupt
      - name: Is Cancelled
        if: cancelled()
        run: |
          echo "If this job was cancelled due to 'Install protobuf library' timeout, the cache is likely corrupt and needs deleting!" >> $GITHUB_STEP_SUMMARY

      # Run the build script with valgrind
      - name: Run unittests with valgrind
        run: |
              python build_ut.py -c -xml -f -val

      # Process the valgrind results and create a csv
      - name: Process valgrind results
        id: create-valgrind-csv
        if: success() || failure()
        run: python scripts/valgrind/process_valgrind_results.py

      # Read the valgrind results csv file
      - name: Read the valgrind results csv
        uses: juliangruber/read-file-action@v1
        id: csv-memory
        if: success() || failure()
        with:
          path: ./valgrind_report.csv

      # Create results table for valgrind results
      - name: Create results table
        uses: petems/csv-to-md-table-action@master
        id: results-table-output
        if: success() || failure()
        with:
          csvinput: ${{ steps.csv-memory.outputs.content }}

      # Add table to the summery
      - name: Create results table
        if: failure()
        run: |
          echo "Summery of the valgrind failures" >> $GITHUB_STEP_SUMMARY
          echo "${{steps.results-table-output.outputs.markdown-table}}" >> $GITHUB_STEP_SUMMARY

      # Upload logs on failure
      - name: Upload logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs
          path: |
            gtest_result.log
            build/*valgrind_report.xml

